<%= form_for @print_work, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :file, :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :file %>
      <% unless @print_work.file.to_s.empty? %>
        <td><%= link_to @print_work.file.name, @print_work.file.to_s %></td>
      <% end %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                print_works_path, :class => 'btn' %>
  </div>
<% end %>
