<%= form_for(@print_work) do |f| %>
  <% if @print_work.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@print_work.errors.count, "error") %> prohibited this print_work from being saved:</h2>

      <ul>
      <% @print_work.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.file_field :file %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
