<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Photocopy" %></title>
    <%= csrf_meta_tags %>
    <%= render 'layouts/bootstrap_head' %>
  </head>
  <body>
    <% if user_signed_in? %>
      <%= render 'layouts/header' %>
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span2">
            <div class="well sidebar-nav">
              <ul class="nav nav-list">
                <li class="nav-header">Sidebar</li>
                <li><%= link_to "Mis trabajos", root_path  %></li>
                <li><%= link_to "Subir nueva impresión", new_print_work_path  %></li>
                <li><%= link_to "Resportar errores", "mailto:rapofran@gmail.com"  %></li>
              </ul>
            </div><!--/.well -->
          </div><!--/span-->
        <div class="span10">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
      </div><!--/row-->
       <%= render 'layouts/footer' %>
      </div> <!-- /container -->
    <% else %>
      <div>
        <%= bootstrap_flash %>
        <%= yield %>
      </div>
    <% end %>
    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>
  </body>
</html>